*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
Eliminaria .idea/
Eliminaria app/libs/
Eliminaria app/src/main/java/
Eliminaria app/src/main/res/drawable/
Eliminaria gradle/
